# Dependencies
node_modules/
package-lock.json

# Database
storage/*.db
storage/*.db-journal

# Environment variables
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vercel
.vercel

# Next.js
.next/
out/
build/
dist/
